name: ssl-expiry-api-test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
    - uses: actions/setup-node@v4.4.0
      with:
         node-version: '18.20.8'
    - name: use npm
      run: |
       npm install
       npm run build
       npm test
